{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block 'content' %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Resume</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Resume</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <div class="container">

        <div class="row">
          {% for resume in resumes %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">{{resume.name0}}</h3>
            <div class="resume-item">
              <h4>{{resume.name1}}</h4>
              <p><em>{{resume.name2}}</em></p>
              <ul>
                <li>{{resume.name3}}</li>
                <li>{{resume.name4}}</li>
                <li>{{resume.name5}}</li>
              </ul>
            </div><!-- Edn Resume Item -->


          </div>
          {% endfor %}

        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>
  {% endblock 'content' %}